/* STYLES.CSS FOR CONVICT CONDITIONING TRACKER */

body#loginbg {
background-image:url('handstand.jpg');
background-size:cover;
background-position:0px -800px;
}

#box {
background-color:white;
opacity:0.6;
margin:100 100 100 400;
height:310px;
width:510px;
position:absolute;
border-radius:20px;
}

#login {
text-align:center;
border:3px white;
opacity:1;
position:absolute;
margin:100 0 0 400;
height:300px;
width:500px;
border:solid 7px white;
border-radius:20px;
}

#login table {
position:absolute;
margin-top:50px;
margin-left:120px;
}